.optionsList{
    display: flex;
    gap: 10px;
}

.optionsBtn{
    background-color: lightgrey;
    border: none;
    color: black;
    transition-duration: 0.2s;
    box-shadow: 0 7px #999;
    padding: 8px 10px;
    width: 150px;
}
.optionsBtn:hover {
    background-color: grey;    
    border: none;
}
.optionsBtn:active {
    box-shadow: 0 4px #666;
    transform: translateY(4px)
}
.optionsBtn:focus,
.optionsBtn:focus-visible {
    outline: none;
}